body {
  margin: 0px;
  padding: 0px;
  background-color: #312F49;
}

.container {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
}

.IMT {
  font: icon;
  color: #ffffff;
  padding: 10%;
  padding-bottom: 60px;
  align-items: center;
  margin: 0 auto;
}

.boxy {
  display: flex;
  flex-direction: row;
}

.box {
  border-radius: 10px;
  border-style: ridge;
  padding: 10px;
  width: 50%;
  height: 400px;
  background-color: #20033c;
  margin-right: 10px;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.box:hover,
.box:hover .box-content {
  background-color: #300361;
}

.box:last-child {
  margin-right: 0;
}

.smticon {
  display: flex;
  width: 100px;
  height: 50px;
}

.smtimage {
  display: flex;
  position: relative;
}

.smtname {
  margin-left: 10px;
  margin-top: 15px;
  font-weight: bold;
  color: #fdfdfd;
  font-family: Montserrat;
}

.box-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #20033c;
  border-radius: 10px;
  border: #270d5c;
  color: rgb(255, 255, 255);
  font-size: x-large;
  font-family: Montserrat;
  font-style: normal;
  cursor: pointer;
  text-decoration: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(45, 12, 88);
  color: white;
  text-align: center;
}

.footlink {
  color: #fdfdfd;
  text-decoration: none;
  font-weight: bolder;
}